* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}


h1 {
  text-align: center;
}

.grid-wrapper {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: green;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.snake {
  background-color: rgb(253, 157, 78);
}

.food {
  background-color: red;
  border-radius: 50px;
}

.score-box {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 10px auto;
}

.hidden {
  display: none;
}

.info-display {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  top: 100px;
  left: 100px;
  position: fixed;
}

h2 {
  text-align: center;
  font-size: 2em;
  border: 5px dotted rgb(0, 0, 0);
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}